html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}




header{
    width: 100%;
    height: 120px;
    display: inline-block;
    text-align: center;
    background-color: #e8e9eb;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: inline-block;
    padding: 0px 40px;
    position: relative;
}
.logo-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    top:0;
    left:0;
    z-index: 1;
}
.logo-container a{
    width: auto;
    display: inline-block;
    height: 100%;
}
.logo{
    display: inline-block;
    height: 100%;
    opacity: 0.7;
}
.socials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    float: right;
    position: relative;
    z-index: 2;
}
.socials a{
    margin-right: 10px;
}
.socials a:hover svg{
  fill:#8b7e51 ;
}
.socials a svg{
    height: 20px;
    width: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.lang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#000;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Noto Sans Med','Noto Sans Georgian Med';
    border: 2px solid #000;
    padding: 0 10px;
    height: 40px;
    margin-left: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.lang:hover{
    background-color: #8b7e51;
    color:#fff;
    border:2px solid #8b7e51;
}
.main-photo-container{
    position: relative;
}
.main-photo-container div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    top:0px;
    left:0px;
    z-index: 2;
    background-color:#e8e9eb ;
    opacity: 0.2;
}
.main-photo{
    width: 100%;
    height: 100vh;
    display: inline-block;
    -o-object-fit: cover;
       object-fit: cover;
}
.main-container{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    padding-bottom: 50px;

}
.container-inner{
    max-width: 1920px;
    width: 100%;
    padding: 20px 100px;
    position: relative;
}
.item-photo{
    float: right;
    width: 65%;
    height: 580px;
    -o-object-fit: cover;
       object-fit: cover;
    /* display: inline-block; */
    position: relative;
    z-index: 1;
}
.right .item-photo{
    float: left;
}
.item-box {
    width: 40%;
    display: inline-block;
    position: absolute;
    background-color: #e8e9eb;
    left: 100px;
    top: 100px;
    z-index: 2;
    text-align: left;
    padding: 70px 50px;
}
.right .item-box{
    left: auto;
    right: 100px;
}
.item-box h2{
    font-size: 55px;
    color: #8b7e51;
    text-transform: uppercase;
    font-family: 'Noto Sans Med';
    margin-bottom: 10px;
}
.item-box p{
    font-size: 20px;
    line-height: 25px;
    color:#000;
    font-family: 'Noto Sans Med';
}
.item-box a{
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    font-family: 'Noto Sans Med';
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.item-box a:hover{
    background:#8b7e51 ;

}
footer img{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: inline-block;
    
}
.gallery-container{
    width: 100%;
    display: inline-block;
    background-color: #e8e9eb;;
    padding-top: 150px;
    padding-bottom: 50px;
}
.gallery-container h3{
    font-size: 55px;
    color: #8b7e51;
    text-transform: uppercase;
    font-family: 'Noto Sans Med';
   display: inline-block;
   text-align: center;
   width: 100%;

}
.gallery-slider{
    width: 100%;
    height: 550px;
    margin-top: 50px;
}
.gallery-item img{
    display: inline-block;
    height: 550px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
    color:#fff;
}
.product-head {
    display: inline-block;
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: 100px;
}
.product-head img{
    height: 100%;
    width: 100%;
    display: inline-block;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index:1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 98%;
       object-position: 50% 98%;    

}

.product-head  h1{
    float: left;
    color: #fff;
    font-size: 80px;
    position: relative;
    z-index: 2;
    font-family: 'Noto Sans Med';
    top: 60px;
    left: 60px;
}
.container-menu{
    display: inline-block;
    width: 100%;
}
.container-menu img{
    width: calc(50% - 15px);
    display: inline-block;

}
.container-menu img:first-child{
    float: left;
}
.container-menu img:last-child{
    float: right;
}
.container-menu h3 {
    font-size: 55px;
    color: #8b7e51;
    text-transform: uppercase;
    font-family: 'Noto Sans Med';
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.contact-container{
    width: 100%;
    display: inline-block;
}
.map{
    width: 70%;
    height: 500px;
    /* display: inline-block; */
    float: left;
    
}

.contact-description{
    /* display: inline-block; */
    width: 30%;
    height: 500px;
    float: right;
    background-color: #e8e9eb;;
    padding: 50px;
}
.description-inner{
    width: 100%;
    display: inline-block;
}
.product-logo{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.product-logo img{
    height: 100px;
}
.descr{
    font-size: 20px;
    color: #000;
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding: 10px 0px;
    font-family: 'Noto Sans Med';
    border-bottom: 1px solid #000;
}
.product{
    width: 30%;
    /* display: inline-block; */
    float: left;
    padding-top: 25%;
    position: relative;
    margin:15px;
}

.product img{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
}
.product-descr{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0,0,0,0.25);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.product:hover .product-descr{
    opacity: 1;
}
.product-descr .ttl{
    font-size: 50px;
    color: #fff;
    font-family: 'Noto Sans Med';
    padding: 10px;
}
 /* B A R */

.bar-container{
    width: 100%;
    text-align: center;
    display: inline-block;
    background-image:url(../img/bar/bgbar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bar-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    position: relative;
}
.bar{
    width: 30%;
    padding-top: 25%;
    position: relative;
    margin-right: 20px;
    
}
.barPhoto,.barPhoto1,.barPhoto2{
    position: absolute;
    z-index: 1;
    /* top: 50px; */
    left: 0px;
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 200px;
    border: 1px solid rgb(19, 18, 18);
    
}
.barPhoto{
    -webkit-animation: barPhoto  5s  infinite;
            animation: barPhoto  5s  infinite;
}
.barPhoto1{
    -webkit-animation:barPhoto1 5s infinite;
            animation:barPhoto1 5s infinite;
    z-index: 2;
    height: 55%;
    border-radius: 200px;
}
.barPhoto2{
    -webkit-animation: barPhoto2 5s infinite;
            animation: barPhoto2 5s infinite;
}


@-webkit-keyframes barPhoto{
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}


@keyframes barPhoto{
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}
@-webkit-keyframes barPhoto1{
    
    0%   {top: 0px;}
    75%  {top: 200px}
    100% {top: 100px;}
}
@keyframes barPhoto1{
    
    0%   {top: 0px;}
    75%  {top: 200px}
    100% {top: 100px;}
}



@-webkit-keyframes barPhoto2{
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}



@keyframes barPhoto2{
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}


/* productbar */
.product-bar img{
    display: inline-block;
    width: 100%;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
    border-radius: 100px;
    margin-top: 20px;
   
}
.bar-logo img{
    border-radius: 100px;
}
.container-menu video{
    width: 100%;
}
.swiper-bar img{
    height: 400px;
}